<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanqiao.jd.dao.ShopCartMapper" >
  <resultMap id="BaseResultMap" type="com.lanqiao.jd.entity.ShopCart" >
    <id column="shop_cart_id" property="shopCartId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_cart_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_cart
    where shop_cart_id = #{shopCartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_cart
    where shop_cart_id = #{shopCartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanqiao.jd.entity.ShopCart" >
    insert into tb_shop_cart (shop_cart_id, user_id)
    values (#{shopCartId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lanqiao.jd.entity.ShopCart" >
    insert into tb_shop_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopCartId != null" >
        shop_cart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopCartId != null" >
        #{shopCartId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lanqiao.jd.entity.ShopCart" >
    update tb_shop_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_cart_id = #{shopCartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lanqiao.jd.entity.ShopCart" >
    update tb_shop_cart
    set user_id = #{userId,jdbcType=INTEGER}
    where shop_cart_id = #{shopCartId,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_shop_cart
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

</mapper>